body{
	background-color:#DDE5E4;
}
.title{
	width: 600px;
	height: 76px;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	font-family:'Poiret One', cursive ; 
	font-size: 53px;
	color: #A89594;
}
p{
	width: 550px;
	height: 76px;
	margin: auto;
	margin-top: 35px;
	text-align: center;
}
h3{
	font-size: 39px;
	margin-top: 0px;
}
.col-md-6{
	height: 40px;
	padding-top: 15px;
}
.list{
	font-family:'Poiret One', cursive ; 
	color: #A89594;
	float: right;
	padding-right: 150px
}
.cart{
	/*float: right;*/
	font-family:'Poiret One', cursive ; 
	color: #A89594;
	float: left;
	padding-left: 150px;
}
.items{
	font-size: 24px;
	font-family:'Poiret One', cursive ; 
	list-style: none;
	color: #A89594;
	width: 200px;
}
.fa-check-circle-o:hover{
	color: #667561;
}
.fa-times-circle-o:hover{
	color: #473432;
}
.cart-items .items .fa-check-circle-o{
	color: #667561;
}

.entered-items{
	position: relative;
    float: right;
    top: 45px;
    left: 60px;
}
.entered-items ul{
	width: 160px;
    padding-left: 60px;
}
.cart-items{
	position: relative;
    float: left;
    top: 45px;
    right: 100px;
}
.cart-items ul{
	width: 160px;
    padding-right: 0px;
    padding-left: 0px;
}